/* color palette:

#FE5D26 dark orange
#F2C078 earth yellow
#FAEDCA dutch white
#C1DBB3 tea green
#7EBC89 emerald
*/

/*============================================================== Body: ==============================================================*/
body {
    display: grid;
    grid-template-areas: 
    "nav bio"
    "nav education"
    "nav experience"
    "nav portfolio"
    "nav footer";
    
    background-color: #7EBC89;
}


@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: url(https://fonts.gstatic.com/s/montserrat/v25/JTUSjIg1_i6t8kCHKm459Wlhyw.woff2) format('woff2');
}


/*============================================================== Nav: ==============================================================*/

#nav {
    display: flex;
    position: -webkit-sticky;
    position: sticky;
    top: 0%;
    flex-flow: nowrap column;
    padding: 1rem;
    grid-area: "nav";
}

#nav a {
    font-weight: 700;
}

a span{
    font-weight: 400;
    font-size: 1rem;
}

#nav a:link {
    color: black;
    text-decoration: none;
}

#nav a:visited {
    color: black;
}

#nav a:hover { 
    color: #F2C078;
}
#nav a:active { 
    color: #FE5D26;
}
/*============================================================== Bio: ==============================================================*/
#bio {
    height: 100vh;
    display: flex;
    flex-flow: nowrap column;
    grid-area: "bio";
}
/*============================================================== Education: ==============================================================*/
#education {
    height: 100vh;
    display: flex;
    flex-flow: nowrap column;
    grid-area: "education";
}

#education div {
    /* parent */
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3 1fr);
    border: 0.1rem solid black;
    padding: .5rem;
}

.h3 {
    font-size: 1.5rem;
    color: red;
}
/*============================================================== Experience: ==============================================================*/
#experience {
    height: 100vh;
    grid-area: "experience";
}

#experience div{
    display: flex;
    flex-flow: nowrap column;
}


/*============================================================== Portfolio: ==============================================================*/

/* +++mobile+++ */

#portfolio {
    display: flex;
    flex-flow: nowrap column;
    height: 100vh;
    grid-area: "portfolio";
}

.portfolio_item {
    padding: 2vw;
}


/* +++tablet+++ */
@media (min-width: 426px) {
    #portfolio {
        display: flex;
        flex-flow: nowrap row;
    } 

    .column1 {
        flex: 1;
    }

    .column2 {
        flex: 1;
    }
}

/* +++Desktop+++ */
@media (min-width: 769px) {
    
    #portfolio {
        display: flex;
        flex-flow: nowrap row;
    } 

    .column1 {
        flex: 1;
    }

    .column2 {
        flex: 1;
    }

    .portfolio_open {
        font-size: 2.4vw;
    }

}


/*============================================================== Contact me: ==============================================================*/

/*============================================================== Footer: ==============================================================*/
footer {
    grid-area: "footer";
    grid-column-start: 1;
    grid-column-end: 3;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#form {
    align-self: center;
    display: flex;
    background: red;
}